h1{
   background-color: red;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px; 
   text-align: center;
}

h2{
    background-color: blue;
    color: red;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}
